In [9]:
import pandas as pd
import numpy as np
import streamlit as st

In [92]:
df_file = pd.read_pickle('data/data_tagging.pkl')

In [87]:
df_file

,headings,tags,TrainId
2,"At 105, Ustad Abdul Rashid Khan is the oldest ...","[Current Affairs 2013, IBPS, January 2013]",2
3,Singer S. Janaki declines Padma Bhushan,"[Current Affairs 2013, Entertainment, January ...",3
4,"India, Bangladesh ink extradition and visa pacts","[Current Affairs 2013, India-Bangladesh, India...",4
5,"Ranji Trophy: Mumbai claim their 40th title, d...","[Cricket, Current Affairs 2013, IBPS, January ...",5
6,Iran claims to have sent monkey into space,"[Current Affairs 2013, Iran, January 2013]",6
...,...,...,...
26995,Sample Registration System (SRS) Statistical R...,"[Infant mortality, Infant Mortality Rate, Neon...",26995
26996,Current Affairs- Today’s Headlines: September ...,"[2022, Current Affairs, Current Affairs: News ...",26996
26997,Breakthrough Prizes 2023- Winners,"[Breakthrough Prize, Breakthrough Prize in Fun...",26997
26998,Committee for pharma marketing practices,"[CBDT, Department of Pharmaceuticals, Pharmace...",26998
26999,Defence ministry contract for BrahMos missiles,"[Brahmos, BrahMos Aerospace, BrahMos Aerospace...",26999

In [49]:
tags = df_file['tags'].values[1000]

In [50]:
tags

['Current Affairs 2013', 'Haryana', 'IT']

In [51]:
import re
tags_ = [x for x in tags if re.match("^[A-Za-z_-]*$", x)]

In [54]:
 ', '.join(tags_)

'Haryana, IT'

In [15]:
from os.path import exists
path_file = 'data/state_file.csv'

In [55]:
if not exists(path_file):
    df = pd.DataFrame()
    df['TrainId'] = []
    df['Label'] = []
    df.to_csv(path_file, index=None)

In [67]:
df = pd.read_csv(path_file)

In [68]:
df

Empty DataFrame
Columns: [TrainId, Label]
Index: []

In [71]:
df_add = pd.DataFrame([[0, 'env']], columns=['TrainId','Label'])
df = pd.concat([df,df_add])

In [72]:
df

  TrainId Label
0       0   env
0       0   env